body {
    padding: 5px;
    background-color: #EEEEEE;
    color: #26282d;
}

li {
    font-size: large;
}

hr {
    border-color: #686D76;
}

#outer-box > div {
    margin-bottom: 30px;
}

.header-box {
    text-align: center;
    color: black;
}

.section-header-box {
    color: #8a2a27;
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

#education-box > .section-body-box > a{
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    padding: 0px 10px;
    border: 3px solid black;
    background-color: #FFF3C7;
    text-decoration: none;
    color: black;
}

span {
    color: blue;
    text-decoration: underline;
}

#computer-knowledge-box > .section-body-box > div {
    margin-left: 20px;
    margin-right: 40px;
    display: inline-block;
    vertical-align: top;
}

#projects-box > .section-body-box > div {
    background-color: #FFF3C7;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin:10px;
    margin-top: 20px;
    border: 5px solid black;
}

#cya-img {
    border: 5px solid #8a2a27;
    width: 25%;
    margin-left: 20px;
}

/* School webpage specific */

.school-body-box {
    width: 60%;
    margin-left: 20%;
    display: flex;
}

.logo {
    width: 300px;
    height: 300px;
    margin-left: 20px;
}