html {
    background-color: #EEEEEE;
    
}

body {
    padding: 5px;
}

a[href] {
    color: blue;
}

* {
    color: #26282d;
}

.section-header {
    color: #8a2a27;
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

.header-element {
    text-align: center;
    color: black;
}

li {
    font-size: large;
}

hr {
    border-color: #686D76;
}

.logo {
    width: 300px;
    height: 300px;
    float: left; 
    margin: 20px
}

.school-body-text {
    float: left;
    margin-right: 50px;
    margin-left: 20%;
}

.computer-knowledge div {
    margin-left: 20px;
    margin-right: 40px;
}

.languages {
    float: left;
    /* border: 5px solid; */
}

.software {
    float: left;
    /* border: 5px solid; */
}

.systems {
    float: left;
    /* border: 5px solid; */
}

.projects {
    margin-top: 240px;
}

.project-block {
    background-color: #FFF3C7;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin:10px;
    border: 5px solid black;
}

#cya-img {
    border: 5px solid #8a2a27;
    width: 25%;
    margin-left: 5%;
    margin-bottom: 50px;
}